In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("imdb_top_1000.csv")

In [3]:
df.head() #ilk beş satırı gösteriyor

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [4]:
df.isnull().sum()  #veri setindeki boş değerlerin sayılarını gösterir

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [5]:
df.dropna(subset=['Certificate','Meta_score','Gross'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 997
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    714 non-null    object
 1   Series_Title   714 non-null    object
 2   Released_Year  714 non-null    object
 3   Certificate    714 non-null    object
 4   Runtime        714 non-null    object
 5   Genre          714 non-null    object
 6   IMDB_Rating    714 non-null    float64
 7   Overview       714 non-null    object
 8   Meta_score     714 non-null    float64
 9   Director       714 non-null    object
 10  Star1          714 non-null    object
 11  Star2          714 non-null    object
 12  Star3          714 non-null    object
 13  Star4          714 non-null    object
 14  No_of_Votes    714 non-null    int64
 15  Gross          714 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 94.8+ KB

In [6]:
df.drop(['Poster_Link','Certificate','Runtime','Overview','Star1','Star2','Star3','Star4'],axis=1,inplace=True)
df.head()

,Series_Title,Released_Year,Genre,IMDB_Rating,Meta_score,Director,No_of_Votes,Gross
0,The Shawshank Redemption,1994,Drama,9.3,80.0,Frank Darabont,2343110,"28,341,469"
1,The Godfather,1972,"Crime, Drama",9.2,100.0,Francis Ford Coppola,1620367,"134,966,411"
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,2303232,"534,858,444"
3,The Godfather: Part II,1974,"Crime, Drama",9.0,90.0,Francis Ford Coppola,1129952,"57,300,000"
4,12 Angry Men,1957,"Crime, Drama",9.0,96.0,Sidney Lumet,689845,"4,360,000"

In [9]:
#gross (hasılat) sütunu object olarak gözüküyor. Bunu tamsayıya çevirelim.
df=df.convert_dtypes()
df['Gross']=df['Gross'].str.replace(',','')
df=df.astype({'Gross':'int'})

In [11]:
#VERİ SETİNİ TÜRKÇE HALE GETİRİYORUZ
df.columns=['Film_Adı','Yayın_Yılı','Tür','IMDB_Puanı','Meta_Skoru','Yönetmen','Oy_Sayısı','Müdür']
df

,Film_Adı,Yayın_Yılı,Tür,IMDB_Puanı,Meta_Skoru,Yönetmen,Oy_Sayısı,Müdür
0,The Shawshank Redemption,1994,Drama,9.3,80,Frank Darabont,2343110,28341469
1,The Godfather,1972,"Crime, Drama",9.2,100,Francis Ford Coppola,1620367,134966411
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,84,Christopher Nolan,2303232,534858444
3,The Godfather: Part II,1974,"Crime, Drama",9.0,90,Francis Ford Coppola,1129952,57300000
4,12 Angry Men,1957,"Crime, Drama",9.0,96,Sidney Lumet,689845,4360000
...,...,...,...,...,...,...,...,...
990,Giù la testa,1971,"Drama, War, Western",7.6,77,Sergio Leone,30144,696690
991,Kelly's Heroes,1970,"Adventure, Comedy, War",7.6,50,Brian G. Hutton,45338,1378435
992,The Jungle Book,1967,"Animation, Adventure, Family",7.6,65,Wolfgang Reitherman,166409,141843612
994,A Hard Day's Night,1964,"Comedy, Music, Musical",7.6,96,Richard Lester,40351,13780024
997,From Here to Eternity,1953,"Drama, Romance, War",7.6,85,Fred Zinnemann,43374,30500000