In [64]:
import pandas as pd

In [3]:
liste=[1,2,3,"a","b","c"]
liste

[1, 2, 3, 'a', 'b', 'c']

In [4]:
df=pd.DataFrame(liste,columns=["veri1"])
df

  veri1
0     1
1     2
2     3
3     a
4     b
5     c

In [59]:
import numpy as np
# numpy ile rastegel bir dizi oluşturalım 3*3 1-100 arasında
veriler=np.random.randint(0,100,(3,3))  
veriler

array([[80, 61, 47],
       [98, 79, 30],
       [58, 82, 63]])

In [61]:
# verileri dataframe olarak gösteriyoruz + satır ve sütun başlıklları ekledik
df1=pd.DataFrame(veriler,index=["satır1","satır2","satır3"],columns=["sütun1","sütun2","sütun3"])
df1

        sütun1  sütun2  sütun3
satır1      80      61      47
satır2      98      79      30
satır3      58      82      63

In [71]:
veriler=(["Hayri Koçmanlar",33],["Ufuk ilkiz",34])
veriler

(['Hayri Koçmanlar', 33], ['Ufuk ilkiz', 34])